html {
  font-family: sans-serif;
}

#answer-div {
  position: relative;
  min-height: 150px;
  width: 90%;
  margin: 0 5% 0 5%;
  font-size: 80px;
  text-align: right;
}

#answer-text {
  position: absolute;
  bottom: 15%;
  right: 0;
  line-height: 0%;
}

#keyboard {
  position: fixed;
  width: 100%;
  bottom: 10px;
  right: 10px;
  width: 95%;
}

button {
  border-radius: 100%;
  height: 65px;
  width: 65px;
  border: none;
  text-align: center;
  font-size: x-large;
}

button:active {
  opacity: 50%;
}

.double-button {
  width: 130px;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  text-align: left;
  padding-left: 15%;
}

.black {
  background-color: black;
}

.row {
  height: 74px;
  margin: none;
}

.light-gray {
  background-color: grey;
  color: black;
}

.dark-gray {
  background-color: rgb(54, 54, 54);
  color: white;
}

.orange {
  background-color: orange;
  color: white;
}